.nav {
  display: flex;
  gap: 4px;
}

.link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: orange;
}

.active {
  color: orange;
}

.container {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
