.containerRoot {
  display: flex;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  gap: 48px;
  position: relative;
}
.teacherImg {
  border-radius: 100px;
  width: 96px;
  height: 96px;
}

.containerImg {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  max-width: 120px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.containerImg .icon {
  fill: #38cd3e;
  position: absolute;
  top: 20px;
  right: 24px;
}
.containerLeft {
  max-width: 968px;
  width: 100%;
}
.containerLeft h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #121417;
  padding-top: 8px;
  padding-bottom: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .icon {
  padding-right: 8px;
}

.header .svgAfter::after {
  content: "|";
  margin: 0 10px;
  color: #999;
}

.pageLanguages {
  /* padding-right: 192px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a89;
  padding-right: 10px;
}
.info {
  display: flex;
}
.pageSpan {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #121417;
}

.iconNotFavorite {
  fill: none;
  stroke: #121417;
}

.iconFavorite {
  fill: #f4c550;
  stroke: #f4c550;
}
.buttonFavorites {
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: inherit;
  border: none;
  margin-left: 86px;
}
.svg {
  display: flex;
  align-items: center;
}

.iconBook {
  fill: none;
  stroke: black;
}

.price {
  color: red;
}

.buttonReadMore {
  border: none;
  background: inherit;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
  height: 30px;
}

.buttonReadMore:hover,
.buttonReadMore:focus {
  background: #121417;
  color: #fff;
  width: 90px;
  height: 30px;
  border-radius: 12px;
}

.pageContext {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

.pageContext span {
  color: #8a8a89;
}

.pageContext .speak {
  position: relative;
  /* display: inline-block; */
  padding-bottom: 0;
  color: #121417;
}

.speak::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bookTrial {
  border-radius: 12px;
  background-color: var(--accent);
  width: 232px;
  height: 60px;
  border: none;
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28, 08px;
}

.bookTrial:hover {
  background-color: var(--accent-hover);
}
.pageExperience {
  padding-bottom: 32px;
}
