.buttonMore {
  display: flex;
  margin: 62px auto;
  border-radius: 12px;
  border: none;
  width: 183px;
  height: 60px;
  background-color: var(--accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 28.08px;
  align-items: center;
  justify-content: center;
}

.buttonMore:hover {
  background-color: var(--accent-hover);
}
