.list {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.container {
  display: flex;
  height: 44px;
  gap: 12px;
  padding-bottom: 16px;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.page {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18, 06px;
  color: #121417;
}

.pageName {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a89;
}
.comment {
  font-size: 16px;
}
