.containerFilter {
  display: flex;
  gap: 20px;
  z-index: 100;
  position: fixed;
  background-color: #eeeeee;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  width: 100vw;
}
.container {
  display: flex;
  width: 1184px;
  gap: 20px;
  padding-bottom: 16px;
  padding-bottom: 32px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 84px;
}
.option {
  display: flex;
  flex-direction: column;
}

.option label {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  padding-bottom: 8px;
}

.option select {
  /* appearance: none; */
  border-radius: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
  width: 221px;
  height: 48px;
  cursor: pointer;
  padding-right: 50px;
  padding-left: 18px;
}
