#root {
  max-width: 1440px;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  select {
    background-color: #fff;
    color: #121417;
  }
  input {
    background-color: #fff;
  }
  button {
    /* appearance: none; */
    color: #121417;
  }
}
