.container {
  display: flex;
  align-items: center;
}
.buttonLogOut {
  border: none;
  background-color: transparent;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
}

.buttonLogOut:hover,
.buttonLogOut:focus {
  background: #121417;
  color: #fff;
}
.container p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent);
}
